
<div class="">

    <div class=" navbar">
        <h3 class="text-light">Phone Book <i class="far fa-address-book"></i></h3>

    </div>


    <div class="row">


        <div class="col-lg-4 inp">
            <h4 class="mt-2 mb-2 text-light">Add New Report</h4>
            <form>

                <div class="form-group">
                    
                    <select class="form-control" id="mySelectLocation">
                        <option value="istanbul">PLEASE SELECT LOCATION</option>
                        <option value="ADANA">ADANA</option>
                        <option value="ADIYAMAN">ADIYAMAN</option>
                        <option value="AFYONKARAHİSAR">AFYONKARAHİSAR</option>
                        <option value="AĞRI">AĞRI</option>
                        <option value="AKSARAY">AKSARAY</option>
                        <option value="AMASYA">AMASYA</option>
                        <option value="ANKARA">ANKARA</option>
                        <option value="ANTALYA">ANTALYA</option>
                        <option value="ARDAHAN">ARDAHAN</option>
                        <option value="ARTVİN">ARTVİN</option>
                        <option value="AYDIN">AYDIN</option>
                        <option value="BALIKESİR">BALIKESİR</option>
                        <option value="BARTIN">BARTIN</option>
                        <option value="BATMAN">BATMAN</option>
                        <option value="BAYBURT">BAYBURT</option>
                        <option value="BİLECİK">BİLECİK</option>
                        <option value="BİNGÖL">BİNGÖL</option>
                        <option value="BİTLİS">BİTLİS</option>
                        <option value="BOLU">BOLU</option>
                        <option value="BURDUR">BURDUR</option>
                        <option value="BURSA">BURSA</option>
                        <option value="ÇANAKKALE">ÇANAKKALE</option>
                        <option value="ÇANKIRI">ÇANKIRI</option>
                        <option value="ÇORUM">ÇORUM</option>
                        <option value="DENİZLİ">DENİZLİ</option>
                        <option value="DİYARBAKIR">DİYARBAKIR</option>
                        <option value="DÜZCE">DÜZCE</option>
                        <option value="EDİRNE">EDİRNE</option>
                        <option value="ELAZIĞ">ELAZIĞ</option>
                        <option value="ERZİNCAN">ERZİNCAN</option>
                        <option value="ERZURUM ">ERZURUM</option>
                        <option value="ESKİŞEHİR">ESKİŞEHİR</option>
                        <option value="GAZİANTEP">GAZİANTEP</option>
                        <option value="GİRESUN">GİRESUN</option>
                        <option value="GÜMÜŞHANE">GÜMÜŞHANE</option>
                        <option value="HAKKARİ">HAKKARİ</option>
                        <option value="HATAY">HATAY</option>
                        <option value="IĞDIR">IĞDIR</option>
                        <option value="ISPARTA">ISPARTA</option>
                        <option value="İSTANBUL">İSTANBUL</option>
                        <option value="İZMİR">İZMİR</option>
                        <option value="KAHRAMANMARAŞ">KAHRAMANMARAŞ</option>
                        <option value="KARABÜK">KARABÜK</option>
                        <option value="KARAMAN">KARAMAN</option>
                        <option value="KARS">KARS</option>
                        <option value="KASTAMONU">KASTAMONU</option>
                        <option value="KAYSERİ">KAYSERİ</option>
                        <option value="KIRIKKALE">KIRIKKALE</option>
                        <option value="KIRKLARELİ">KIRKLARELİ</option>
                        <option value="KIRŞEHİR">KIRŞEHİR</option>
                        <option value="KİLİS">KİLİS</option>
                        <option value="KOCAELİ">KOCAELİ</option>
                        <option value="KONYA">KONYA</option>
                        <option value="KÜTAHYA">KÜTAHYA</option>
                        <option value="MALATYA">MALATYA</option>
                        <option value="MANİSA">MANİSA</option>
                        <option value="MARDİN">MARDİN</option>
                        <option value="MERSİN">MERSİN</option>
                        <option value="MUĞLA">MUĞLA</option>
                        <option value="MUŞ">MUŞ</option>
                        <option value="NEVŞEHİR">NEVŞEHİR</option>
                        <option value="NİĞDE">NİĞDE</option>
                        <option value="ORDU">ORDU</option>
                        <option value="OSMANİYE">OSMANİYE</option>
                        <option value="RİZE">RİZE</option>
                        <option value="SAKARYA">SAKARYA</option>
                        <option value="SAMSUN">SAMSUN</option>
                        <option value="SİİRT">SİİRT</option>
                        <option value="SİNOP">SİNOP</option>
                        <option value="SİVAS">SİVAS</option>
                        <option value="ŞANLIURFA">ŞANLIURFA</option>
                        <option value="ŞIRNAK">ŞIRNAK</option>
                        <option value="TEKİRDAĞ">TEKİRDAĞ</option>
                        <option value="TOKAT">TOKAT</option>
                        <option value="TRABZON">TRABZON</option>
                        <option value="TUNCELİ">TUNCELİ</option>
                        <option value="UŞAK">UŞAK</option>
                        <option value="VAN">VAN</option>
                        <option value="YALOVA">YALOVA</option>
                        <option value="YOZGAT">YOZGAT</option>
                        <option value="ZONGULDAK">ZONGULDAK</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">PLEASE ADD REPORT TITLE</label>
                    <input id="myInput" class="form-control mt-2 mb-2" placeholder="">
                </div>

                <button id="PostNewReport" class="btn btn-success w-100 btn1">NEW REPORT</button>

            </form>
            @*<input id="myInput" class="form-control mt-2 mb-2" placeholder="PLEASE ADD REPORT TITLE">
            <span class="icon text-primary"><i class="fas fa-search"></i></span>

            <button id="PostNewReport" class="btn btn-success w-100 btn1">NEW REPORT</button>*@

        </div>

        <div class="col-lg-8">

            <table id="tabloReport" class="table table-hover">
                <thead>
                    <tr class="text-light">
                        <th>CreatedTime</th>
                        <th>ReportTitle</th>
                        <th>UserCount</th>
                        <th>NumberCount</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Transaction</th>
</tr>
                </thead>
                <tbody id="tBody">
                </tbody>
            </table>

        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous">

</script>


<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


<script src="~/js/ReportView.js"></script>




